@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
:root{
--Light-red: hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Gree-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);
--Light-slate-blue: hsl(252, 100%, 67%);
--Light-royal-blue: hsl(241, 81%, 54%);
--Violet-blue: hsla(256, 72%, 46%, 1);
--Persian-blue: hsla(241, 72%, 46%, 0);
--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--White);
}
.tee{
  background-color: blue;
  color: hsla(0, 0%, 100%, 0.702);
  padding: 3rem;
 border: 1px solid #ccc;
 border-bottom-left-radius: 2rem;
 border-bottom-right-radius: 2rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 font-weight: 700;

}
.tree{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(hsl(255, 71%, 46%), rgba(76, 34, 201, 0));
  height: 145px;
  width: 145px;
  border-radius: 50%;
}
.tree h2{
  font-size: 3rem;
  font-weight: 700;
  color: var(--White);
}
.para h3{
  font-size: 2rem;
  font-weight: 700;
  color: var(--White);
}
.para p{
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 3%;
}
.job{
  display: flex;
  flex-direction: column;
  /* padding: 1rem 2rem; */
  gap: 1.5rem;
}

.job h2{
  margin: 20px;
  font-size: 1.9rem;
  font-weight: 500;
}
  
.reaction{
  display: flex;
  background-color: hsl(0, 100%, 97%);
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.4rem;
  border-radius: 0.7rem;
  text-align: center;
}
.reaction2{
  display: flex;
}
.reaction h3{
  color: var(--Light-red);
}
.reaction2 img{
  margin-right: 10px;
}
.memory{
  display: flex;
  background-color: hsl(39, 100%, 92%);
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.4rem;
  border-radius: 0.7rem;
  text-align: center;
}
.memory2{
  display: flex;
}
.memory h3{
  color: var(--Orangey-yellow);
}
.memory2 img{
  margin-right: 10px;
}
.verbal{
  display: flex;
  background-color: hsl(166, 100%, 97%);
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.4rem;
  border-radius: 0.7rem;
  text-align: center;

}
.verbal2{
  display: flex;
}
.verbal h3{
  color: var(--Gree-teal);
}
.verbal2 img{
  margin-right: 10px;
}
.visual{
  display: flex;
  background-color: hsl(241, 81%, 97%);
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.4rem;
  border-radius: 0.7rem;
  text-align: center;
}
.visual2{
  display: flex;
}
.visual h3{
  color: var(--Light-royal-blue);
}
.visual img{
  margin-right: 10px;
}

.button{
  background-color: hsl(224, 30%, 27%);
  text-align: center;
  color: var(--White);
  padding: 1rem;
  border-radius: 3rem;
  font-weight: 500;

}